.fondo {
    --background: #050306;
  }
  
    ion-content{
      --color:white;
  
      
    }

    ion-card-subtitle {
      font-size: 2rem;
      font-weight: bold;
    }
    
    ion-segment-button {
      --color-checked: #ffdd57;
      --background-checked: #615836;
    }
    
    ion-item {
      margin-top: 20px;
    }
    
    ion-button {
      margin-top: 20px;
      color: #ffdd57;
    }