.fondo {
  --background: #050306;
}

ion-content {
    --color:white;

  .login-text {
    color: white;
    padding: 20px;
    margin: 33px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .login-logo {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
  }

  .content {
    margin: 15px auto;
    max-width: 350px;
  }

  app-custom-input {
    margin: 10px;
    border-radius: 5px; /* Usa px o em en lugar de cm */
  }

  form {
    text-align: center;
    align-items: center;
  }

  ion-button.iniciar {
    --background: #F9D16B;
    --color: black;
    width: 150px; /* Ajusta el ancho del botón */
    margin: 20px auto; /* Centra el botón horizontalmente */
  }

  ion-button.registrar {
    --background: #F9D16B;
    --color: black;
    width: 150px; /* Ajusta el ancho del botón */
    margin: 20px auto; /* Centra el botón horizontalmente */
  }

  .error-message {
    color: white;
    text-align: center;
  }

}
