<ion-content class="fondo">

  <h2 class="login-text">Login</h2>

  <img class="login-logo" src="../../../../assets/icon/logo.jpeg">

  <div class="content">
    <form>
      <app-custom-input [control]="form.controls.email" type="email" label="Correo" icon="person-outline"></app-custom-input>
      <div *ngIf="form.controls.email.errors && form.controls.email.dirty">
        <div *ngIf="form.controls.email.errors?.['required']">
          Ingresa tu correo
        </div>
      </div>
      <app-custom-input [control]="form.controls.password" type="password" label="Contraseña" icon="lock-closed-outline"></app-custom-input>
    </form>
  </div>
</ion-content>