<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon [name]="selectedTab == 'inicio' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="graficos">
      <ion-icon [name]="selectedTab == 'graficos' ? 'pie-chart-outline' : 'pie-chart-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="datos">
      <ion-icon [name]="selectedTab == 'datos' ? 'swap-vertical-outline' : 'swap-vertical-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon [name]="selectedTab == 'settings' ? 'settings' : 'settings-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>